/* This file is for your main application css. */
@import "bootstrap"; /* imports node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss */
@import "font-awesome";

.board {
  position: relative;
  margin: 2vw;
  outline-style: solid;
  outline-color: black;
  outline-width: 2px;
  background-image: repeating-linear-gradient(0deg, #d9d9d9, #d9d9d9 1px, transparent 1px, transparent 1em),repeating-linear-gradient(-90deg, #d9d9d9, #d9d9d9 1px, transparent 1px, transparent 1em);

  .cell {
    position: absolute;
  }
}


.boardContainer .fullScreenButton {
    margin-right: -14px;
}

.noBoard {
  font-size: 200%;
  text-align: center;
  margin: 2vw;
}

#elm-container {
  font-size: 1vw ;
}

.control_panel {
  height: 45px;
  width: 100%;
  background-color: #d9d9d9;
  padding-top: 5px;

  .info {
    margin-top: 7px;
  }
  .btn {
    margin-top: 4px;
  }
}

.pointer {
  cursor:pointer
}
